In [2]:
import pandas as pd

In [3]:
print("Amar")

Amar

In [4]:
import pymysql

In [5]:
con = pymysql.connect(host='arxiv-rss.cylz9khr50pz.us-east-2.rds.amazonaws.com',
                                user='root',
                                password='')

In [6]:
df = pd.read_sql('select * from arxiv.tasks', con)

In [7]:
df.head(5)

,task_id,link,title,description,loaddate
0,2297,http://arxiv.org/abs/1903.12178,Open-ended Evolution and a Mechanism of ...,<p>Analogous to living ecosystems in natu...,2019-04-01 22:52:19
1,2298,http://arxiv.org/abs/1903.12204,Mutex-based Desanonymization of an Anonymo...,<p>Anonymous shared memory is a memory i...,2019-04-01 22:52:19
2,2299,http://arxiv.org/abs/1903.12206,Counting with Focus for Free. (arXiv:1903...,<p>This paper aims to count arbitrary ob...,2019-04-01 22:52:19
3,2300,http://arxiv.org/abs/1903.12211,Privacy of trajectory micro-data : a sur...,<p>We survey the literature on the priva...,2019-04-01 22:52:19
4,2301,http://arxiv.org/abs/1903.12212,All about Structure: Adapting Structural ...,<p>In this paper we tackle the problem ...,2019-04-01 22:52:19

In [8]:
df['link'].head(5)

0    http://arxiv.org/abs/1903.12178
1    http://arxiv.org/abs/1903.12204
2    http://arxiv.org/abs/1903.12206
3    http://arxiv.org/abs/1903.12211
4    http://arxiv.org/abs/1903.12212
Name: link, dtype: object

In [9]:
df['task_id'].head(5)

0    2297
1    2298
2    2299
3    2300
4    2301
Name: task_id, dtype: int64

In [10]:
df['task_id'].tail(5)

1031    3362
1032    3363
1033    3364
1034    3365
1035    3366
Name: task_id, dtype: int64

In [11]:
df['link'].count()

1036

In [12]:
df['link'].isnull().count

<bound method Series.count of 0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1006    False
1007    False
1008    False
1009    False
1010    False
1011    False
1012    False
1013    False
1014    False
1015    False
1016    False
1017    False
1018    False
1019    False
1020    False
1021    False
1022    False
1023    False
1024    False
1025    False
1026    False
1027    False
1028    False
1029    False
1030    False
1031    False
1032    False
1033    False
1034    False
1035    False
Name: link, Length: 1036, dtype: bool>